<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
</head>
<body>
    <!-- Form to find skies -->
    <form action="find.php" method="post">
        <input type="text" name="name" placeholder="Origen">
        <input type="text" name="surname" placeholder="Destino">
        <input type="date" name="fecha-viaje" placeholder="Fecha salida">
        <input type="date" name="fecha-retorno" placeholder="Fecha retorno">
        <button type="submit">Find</button>
    </form>
</body>
</html>