<!DOCTYPE html>
<html lang="es">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Friend Requests</title>
  </head>
  <body>
    <h1>Friend Requests</h1>
    {% if friend_requests %}
    <ul>
      {% for request in friend_requests %}
      <li>
        {{ request.sender.username }} sent you a friend request
        <form
          action="{{ url_for('accept_friend_request', request_id=request.id) }}"
          method="post"
        >
          <input type="submit" value="Accept" />
        </form>
        <form
          action="{{ url_for('reject_friend_request', request_id=request.id) }}"
          method="post"
        >
          <input type="submit" value="Reject" />
        </form>
      </li>
      {% endfor %}
    </ul>
    {% else %}
    <p>No friend requests</p>
    {% endif %}
  </body>
</html>
